.footer{
    background-color: var(--background-color);
    padding: 60px 0;
}
.contact-info-list{
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.contact-info-list-item:not(:last-child){
    margin-bottom: 8px;
}

@media screen and (max-width: 1199px) {
    .footer-container{
    text-align: center;
    }
    .footer-main{
    margin-bottom: 60px;
    }
    .footer-second{
    margin-bottom: 60px;    
    }
}
@media screen and (min-width: 767px) and (max-width:1199px){
    .footer-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: baseline;
        padding-left: 76px;
        padding-right: 89px;
    }
}
@media screen and (min-width:1200px){
    .footer-container{
        display: flex;
        flex-wrap: nowrap;
    }
    .contact-info-list-item:not(:last-child){
        margin-bottom: 9px;
    }
    .footer-second{
        margin-left: 72px;    
        }
}
.footer-logo{
    display: inline-block;
    font-family: var(--secondary-font-family);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--white-text-color);
    margin-bottom: 20px;

    & span{
        color: var(--accent-color);
    }
}
.contact-info{
    font-style: normal;
}
.address-info{
    color: var(--white-text-color);
}
.contact-list-link{
    color: rgba(255, 255, 255, 0.6);

    transition: color 250ms var(--timing-function); 

    &:hover,
    &:focus{
    color: var(--accent-color);
}

    & li:not(:last-child){
        margin-bottom: 9px;
    }
}