.header-container{
    display: flex;
    align-items: center;

    @media screen and (max-width: 767px) {
        justify-content: space-between;
        }
}
.header{
    border-bottom: 1px solid #ECECEC;
   
    @media screen and (max-width: 767px) {
            position: relative;
            padding-top: 10px;
            padding-bottom: 10px;
    }
}