.hero{
    height: 400px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 118px;
    padding-bottom: 118px;
    background-image: linear-gradient(to right, var(--hero-gradient-color), var(--hero-gradient-color)), url('../img/header-mobile.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: var(--background-color);
    font-family: var(--primary-font-family);
}

@media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient(to right,
            var(--hero-gradient-color),
            var(--hero-gradient-color)),
        url('../img/header-mobile.jpg@2x.jpg');
    }
}
@media screen and (min-width:768px){
    .hero{
        background-image: linear-gradient(to right, 
        var(--hero-gradient-color), 
        var(--hero-gradient-color)), 
        url('../img/header-img-tablet.jpg');
    }
    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(to right,
                    var(--hero-gradient-color),
                    var(--hero-gradient-color)),
                url('../img/header-img-tablet@2x.jpg');
        }
    }
}
@media screen and (min-width:1200px){
    .hero{
        max-width: 1600px;
        height: 600px;
        padding-top: 200px;
        padding-bottom: 200px;

        background-image: linear-gradient(to right, 
        var(--hero-gradient-color), 
        var(--hero-gradient-color)), 
        url('../img/bg-hero.jpg');
    }
    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(to right,
                    var(--hero-gradient-color),
                    var(--hero-gradient-color)),
                url('../img/bg-hero@2x.jpg');
    }
}
    .hero-title{
    width: 696px;

    font-size: 44px;
    line-height: 1.5;
        }
    }
.hero-title{
    width: 360px;
    margin: 0px auto;
    margin-bottom: 30px;

    font-weight: 900;
    letter-spacing: 0.06em;
    font-size: 26px;
    line-height: 1.62;

    color:var(--white-text-color);
    text-transform: uppercase;
    text-align: center;
}
.hero-button{
    display: block;
    margin: 0 auto;
    padding: 10px 32px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.06em;
    background-color: var(--accent-color);
    color:var(--white-text-color);
    border:0;
    border-radius: 4px;
    cursor: pointer;
    
    transition: background-color 250ms var(--timing-function);
    
        &:hover,
        &:focus{
        background-color: var(--accent-button-color);
    }
}