.section-service{
    padding-bottom: 94px;

    @media screen and (min-width:480px){
        display: none;
    }
}
.work-gallery-list{
    display: flex;
    flex-wrap: wrap;
}
.work-gallery-item{
    position: relative;

    &:not(:last-child){
        margin-right: 30px;
      }
}
.gallery-title{
    position: absolute;

    left: 0;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 27px 10px;

    font-size: 14px;
    line-height: 1.15;
    text-align: center;
    text-transform: uppercase;
    color: var(--white-text-color);
    background-color: rgba(47, 48, 58, 0.8);;
}