
.employees-section{
    background: var(--background-color-icon);
    padding-top: 60px;
    padding-bottom: 60px;
}
.employees-card{
    background: var(--white-text-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.employees-name{
    margin-bottom: 10px;
    font-weight: 500;
}
.employee-wrap{
    padding: 30px 20px 24px;
    text-align: center;
    font-size: 16px;
    line-height: 1.18;
}
.employees-position{
    margin-bottom: 16px;
    color: var(--second-text-color);
}

.social-list{
    display: flex;
    justify-content: center;
}
.social-icon-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
}
.social-icon{
    fill: var(--icon-color);
}
.social-icon-item:not(:last-child){
    margin-right: 10px;
}
@media screen and (max-width:767px) {
    .employees-card:not(:last-child){
        margin-bottom: 30px;
    }  
}

@media screen and (min-width:768px){
    .employees{
        display: flex;
        flex-wrap: wrap;
        margin-top: -30px;
        margin-left: -30px;
    }
    .employees-card{
        flex-basis: calc((100% - 2*30px) / 2);
        margin-top: 30px;
        margin-left: 30px;
    }
}
@media screen and (min-width:1200px){
    .employees-section{
        padding-top: 94px;
        padding-bottom: 94px;
    }
    .employees-card{
    flex-basis: calc((100% - 120px) / 4);
    margin-top: 30px;
    margin-left: 30px;
    }
    .social-icon{
    transition: fill 250ms var(--timing-function);
    
    .social-icon-link:hover &,
    .social-icon-link:focus &{
    fill: var(--white-text-color) ;
        }
    }
    .social-icon-link{
    border-radius: 50%;
    transition: background-color 250ms var(--timing-function);
    
    &:hover,
    &:focus{
    background-color:var(--accent-color);
        }
    }
}
