.logo{
    color: var(--main-text-color);
    font-family: var(--secondary-font-family);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    margin-right: 90px;

    & span{
        color: var(--accent-color);
    }
  }
