:root{
    --primary-font-family: 'Roboto', sans-serif;
    --secondary-font-family: 'Raleway', sans-serif;
    --main-text-color:#212121;
    --second-text-color:#757575;
    --white-text-color: #FFFFFF;
    --accent-color: #2196F3;
    --accent-button-color: #188CE8;
    --background-color: #2F303A;
    --icon-color: #AFB1B8;
    --hero-gradient-color: rgba(47, 48, 58, 0.4);
    --background-color-icon: #F5F4FA;
    --second-backgrounf-color: rgba(255, 255, 255, 0.1);
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    