.hero-portfolio-buttom{
    padding-top: 94px;
    padding-bottom: 94px;
}

.filter-list{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.filter-list_btn{
    padding: 6px 22px;
    background-color: #F5F4FA;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    color: var(--main-text-color);

    transition: 
    background-color 250ms var(--timing-function),
    color 250ms var(--timing-function),
    box-shadow 250ms var(--timing-function);

    &:hover,
    &:focus{
        background-color: var(--accent-color);
        color: var(--white-text-color);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}
.filter-list_item:not(:last-child){
    margin-right: 8px;
}